<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Installer" Language="1033" Version="0.7.5.0" Manufacturer="Turtlz Dev Team" UpgradeCode="90d81d16-213e-4a0f-80b6-dc707f0b3329">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<MediaTemplate EmbedCab="yes"/>
		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentRef Id="ApplicationShortcut"/>
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Emerald Launcher"/>
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Emerald Launcher" />
			</Directory>
		</Directory>
	</Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">         
            <Component Id="ProductComponent">
				<File Id="Product" Source="$(var.Turtlz Launcher.TargetPath)" />
			</Component>
       </ComponentGroup>
    </Fragment>
</Wix>
